.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    width: 14rem;
    height: 28rem;
    padding: 0.6rem;
    margin: 1rem;
    position: relative;
}

.productContainer img {
    width: 12rem;
    height: 15rem;
    object-fit: contain;
}

.product-categ {
    margin: 1rem 0;
}

.product-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0.2rem 0;
}

.product-price {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0.2rem 0;
}

.product-buy {
    position: absolute;
    left: 3px;
    right: 3px;
    bottom: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-rate {
    width: 100%;
    background: rgba(255, 210, 9, 0.884);
    margin: 0.2rem 0;
    padding: 0.2rem;
}

.product-buy .material-symbols-rounded {
    border: 2px solid black;
    margin: 0.2rem 0;
    cursor: pointer;
    background: rgba(246, 253, 244, 0.884);
    padding: 0.2rem;
    width: 100%;
    font-size: 2rem;
}

.product-buy .material-symbols-rounded:hover {
    border: 2px solid rgb(121, 121, 121);
}