.products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow: row;
}

.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .products {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .homeContainer {
        display: block;
    }

}